# Treat Python files as Python
*.py linguist-language=Python

# Exclude frontend assets from language statistics
frontend_django/templates/** linguist-vendored
frontend_django/static/** linguist-vendored