# Don't count Flask templates and static files
app/templates/** linguist-vendored
app/static/** linguist-vendored

# Don't count the virtual environment if it's in the repository
venv/** linguist-vendored